
@import '../../libraries/materialdesignicons/materialdesignicons.css';
@import '../../libraries/datatables/jquery.dataTables.min.css';
@import '../../libraries/datatables/dataTables.bootstrap4.min.css';
@import '../../libraries/datatables/responsive.bootstrap4.min.css';
@import '../../libraries/cute-alerts/cute-alert.css';


.modalcover{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: #0005;
	z-index: 999;
	display: none;
}
.advertice{
	display: none;
}