
		      <div class="modal-header p-2">
		        <b class="modal-title" id="modal1_title">Alumno - Formulario</b>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body bg-light">
					<div class="form-group" id="form_materias_grado">
						<label >Nombre:</label>
						<input class="form-control form-control-sm" type="text" placeholder="Ingrese el nombre completo del alumno" id="in_nombre_alumno">
						<label >Edad:</label>
						<input class="form-control form-control-sm" type="number" placeholder="Ingrese la edad" id="in_edad_alumno">
						<label >Sexo:</label>
						<select class="form-control form-control-sm" id="in_sexo_alumno">
						  <option value="undefined">Seleccione una opcion</option>
						  <option value="Masculino">Masculino</option>
						  <option value="Femenino">Femenino</option>
						</select>
						<label >Grado:</label>
						<select class="form-control form-control-sm" id="select_grados_alumno">
						</select>
						<label >Observacion:</label>
						<textarea class="form-control form-control-sm" id="in_observacion_alumno"></textarea>
					</div>
					<br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" data-action="modal" data-state="hide">Cancelar</button>
		        <button type="button" class="btn btn-primary btn-sm" data-action="validarForm_alumno">Guardar</button>
		      </div>