
		      <div class="modal-header p-2">
		        <b class="modal-title" id="modal1_title">Materias por grado - Formulario</b>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body bg-light">
					<div class="form-group" id="form_materiasxgrado">
						<label >Materia:</label>
						<select class="form-control form-control-sm" id="select_materiasxgrado">
						</select>
					</div>
					<br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" data-action="modal" data-state="hide">Cancelar</button>
		        <button type="button" class="btn btn-primary btn-sm" data-action="IUD_materiasxgrado">Agregar</button>
		      </div>